<h1>Projects</h1>
<div class="black-links">

<div class="row">
    <% @projects.each do |p| %>
        <div class="col s12">
            <div class="card project-card">
                <div class="card-content">
                    <% if admin_signed_in? %>
                        <span class="card-title"><%= link_to p.name, p %></span>
                    <% else %>
                        <span class="card-title"><%= p.name %></span>
                    <% end %>
                    <p><%= p.description %></p>
                    <br />
                    <p><%= p.language %></p>
                </div>
                <div class="card-action">
                    <a href="http://www.google.com" target="_blank" class="black-text"><image src="/assets/github.svg" alt="github"></a>
                </div>
            </div>
        </div>
    <% end %>  
</div>
        
<% if admin_signed_in? %>
    <%= link_to 'Add Project', new_project_path %>
<% end %>
</div>