<h1><%= @category.id ? 'Edit' : 'New' %></h1>
<br />
<%= form_for [@course, @category] do |c| %>
    <%= c.label :name %>
    <%= c.select :name, ['Math', 'Computer Science'], autofocus: true %>
    <%= c.submit %>
<% end %>