<h1><%= @category.id ? 'Edit' : 'New' %></h1>
<br />
<%= form_for [@course, @category] do |c| %>
    <%= c.label :name %>
    <%= c.text_field :name, required: true, autofocus: true %>
    <%= c.submit %>
<% end %>