<h1>Education</h1>

<ul>
    <% @educations.each do |edu| %>
        <li><%= link_to edu.school, edu %></li> 
        <li>Degree Type: <%= edu.level %></li>
        <li>Complete: <%= edu.complete %></li>
        <li>Description: <%= edu.description %></li> 
        <li>Image Link: <%= edu.image %></li>
        <br />
    <% end %>
</ul>

<%= link_to 'Add Education', new_education_path %>


